.DS_Store
Thumbs.db
.env
.env.local
*.pem
*.key
node_modules/
.pnp/
.venv/
env/
vendor/
dist/
build/
*.exe
*.dll
*.so
*.log
.eslintcache
.vscode/
.idea/
*.suo
*.ntvs*
__pycache__/
*.py[cod]
*$py.class